@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;

    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    /*--destructive-foreground: 0 0% 98%;*/
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --accent-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;

    --radius: 0.5rem;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
}

@media (prefers-color-scheme: dark) {
    :root {
        /*--foreground-rgb: 255, 255, 255;*/
        /*--background-start-rgb: 0, 0, 0;*/
        /*--background-end-rgb: 0, 0, 0;*/
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --accent-foreground: 240 5.9% 10%;
        --accent: 240 4.8% 95.9%;
        --radius: 0.5rem;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    margin: 0;
    height: 100%;
    /*background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))*/
    /*  rgb(var(--background-start-rgb));*/

}

main {
    height: 100%;
    background-size: cover;
    /*background: url('/bg-image.jpg') no-repeat center;*/
}